@mixin gutter-space {
    padding-left: $gutter-space;
    padding-right: $gutter-space;
}
@mixin link {
    @include small-font-style;
    font-family: $roman;
    text-decoration: none;
    color: lighten($z-black, 50);
    font-style: italic;
    color: $link-color;
}
@mixin wrapper {
    max-width: 104rem;
    margin: 0 auto;
}